/* FORMULAIRE DE RECHERCHE */

form {
  font-weight: bold;
}

/* Search input */

.search-input {
  margin: 15px 0 31px;
  box-shadow: inset 0 0 0 1px #f2f2f2;
  border-radius: 17px;
  overflow: hidden;
  width: 420px;
  display: flex;
  justify-content: space-between;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.search-input:hover {
  box-shadow: inset 0 0 0 1px #e7e7e7;
}

.search-input .search-input__map-icon {
  min-width: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.search-input:hover .search-input__map-icon {
  background-color: #e7e7e7;
}

.search-input .search-input__map-icon i {
  color: black;
}

.search-input input,
.search-input button {
  border: none;
  padding: 17px;
  color: black;
  font-weight: bold;
}

.search-input input {
  background-color: #ffffff00;
  min-width: 160px;
}

.search-input button[type="submit"] {
  background-color: #0065fc;
  color: white;
  cursor: pointer;
  min-width: 50px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.search-input button[type="submit"]:hover {
  background-color: #004fc5;
}

.search-input button[type="submit"] .search-input__submit-icon {
  display: none;
}

/* RESPONSIVE */

@media screen and (max-width: 460px) {
  .search-input {
    width: unset;
  }

  .search-input button[type="submit"] .search-input__submit-text {
    display: none;
  }

  .search-input button[type="submit"] .search-input__submit-icon {
    display: inherit;
  }

  .search-input button[type="submit"] .search-input__submit-icon i {
    color: white;
  }
}

/* Filters */

.filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.filters .filters__title {
  box-shadow: none;
  margin: 20px 24px 20px 0px;
}

.filters .filters__options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filter-option {
  margin: 5px 24px 5px 0;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 0 2px #f2f2f2;
  border-radius: 30px;
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.filter-option:hover {
  background-color: #fdfdfd;
}

.filter-option .filter-option__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  padding: 15px;
  background-color: #deebff;
  border-radius: 50px;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.filter-option:hover .filter-option__icon {
  background-color: #cde1ff;
}

.filter-option label {
  padding: 0 20px 0 15px;
  cursor: pointer;
}

.filter-option input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  left: -9999px;
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.filter-option input[type="checkbox"]:focus + label::before {
  outline: rgb(59, 153, 252) auto 5px;
}

.filter-option input[type="checkbox"]:checked {
  background-color: #deebff;
}
