/* RESULTS SECTION */

.results section.results-section {
  box-sizing: border-box;
}

.results section.results-section--background-plain {
  background-color: #f2f2f2;
  border-radius: 30px;
  padding: 49px 41px;
  min-width: 410px;
}

.results section.results__popular h2 {
  display: flex;
  justify-content: space-between;
}

.results section.results__popular h2 i {
  color: black;
}

.results section .results-section__show-more {
  margin-top: auto;
  font-weight: bold;
}

/* Results section - Articles containers */

section .articles-container {
  display: grid;
  grid-gap: 1.75rem;
}

section.results__accomodation .articles-container {
  grid-template-columns: repeat(auto-fit, minmax(236px, 1fr));
  margin-bottom: 35px;
}

section.results__popular .articles-container {
  flex-grow: 2;
  grid-template-rows: repeat(3, minmax(145px, 100%));
  max-height: 700px;
}

section.results__activities .articles-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  grid-template-rows: repeat(2, 200px);
  grid-gap: 40px;
  grid-auto-flow: dense;
}

/* RESPONSIVE */

@media screen and (max-width: 910px) {
  .results section.results-section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .results section.results-section--background-plain {
    border-radius: unset;
    min-width: unset;
  }

  .results section.results__popular .articles-container {
    grid-template-rows: repeat(3, 200px);
  }

  .results section.results__activities .articles-container {
    grid-template-columns: 1fr;
    grid-template-rows: unset;
  }
}
