/* Font */

@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-Bold.ttf");
  font-weight: bold;
}

/* Titres */

h1,
h2 {
  font-weight: bold;
}

h1 {
  margin-bottom: 13px;
}

h1 + p {
  margin-bottom: 21px;
}

h2 {
  margin: 0 0 28px 0;
}

/* Page */

body {
  font-family: "Raleway";
}

main {
  margin: 0 auto;
  max-width: 1340px;
}

main > * {
  padding: 0 20px;
}

/* Elements */

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

i {
  color: #0065fc;
}

i.inactive {
  color: #f2f2f2;
}
