/* CARD ARTICLES */

.articles-container article {
  border-radius: 30px;
  border: solid white 5px;
  overflow: hidden;
  background-color: white;

  box-shadow: 0px 0px 20px 7px #dfdfdf;
  -moz-box-shadow: 0px 0px 20px 7px #dfdfdf;
  -webkit-box-shadow: 0px 0px 20px 7px #dfdfdf;
  -o-box-shadow: 0px 0px 20px 7px #dfdfdf;
}

.articles-container article a {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.articles-container article img {
  object-fit: cover;
}

.articles-container article h3 {
  margin-bottom: 12px;
  margin-top: 0;
}

.articles-container article .card-text {
  margin: 15px 11px 9px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.articles-container article .card-text p {
  margin-bottom: 13px;
  margin-top: 0px;
  flex-grow: 3;
}

/* Accomodation */

.results__accomodation article img {
  height: 118px;
  width: 100%;
}

/* Popular */

.results__popular article a {
  flex-direction: row;
}

.results__popular article img {
  max-width: 40%;
}

/* Activities */

.results__activities article {
  border: none;
}

.results__activities article.article--highlighted {
  grid-row: span 2;
}

.results__activities article a {
  justify-content: flex-end;
}

.results__activities article img {
  height: 100%;
}

.results__activities article h3 {
  padding-bottom: 12px;
  padding-top: 12px;
  margin: 0 15px;
  line-height: 1.5;
}

/* RESPONSIVE */

@media screen and (max-width: 910px) {
  .results__activities article {
    height: 200px;
  }
}
