/* Results layout */

#results {
  margin-bottom: 63px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.results-section {
  box-sizing: border-box;
}

.results-section.background-grey {
  background-color: #f2f2f2;
  border-radius: 30px;
  padding: 49px 41px;
  min-width: 410px;
}

.results-section#accomodation {
  grid-column: span 2;
}

.results-section#popular {
  display: flex;
  flex-direction: column;
}

.results-section#activities {
  grid-column: span 3;
}

/* Results section articles containers */

.articles-container {
  display: grid;
  grid-gap: 1.75rem;
}

#accomodation .articles-container {
  grid-template-columns: repeat(auto-fit, minmax(236px, 1fr));
  margin-bottom: 35px;
}

#popular .articles-container {
  flex-grow: 2;
  grid-template-rows: repeat(3, minmax(145px, 100%));
  max-height: 700px;
}

#popular h2 {
  display: flex;
  justify-content: space-between;
}

#popular h2 i {
  color: black;
}

#activities .articles-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  grid-template-rows: repeat(2, 200px);
  grid-gap: 40px;
  grid-auto-flow: dense;
}

#activities article.highlighted {
  grid-row: span 2;
}

/* RESPONSIVE */

@media screen and (max-width: 910px) {
  #results {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  #results .results-section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .results-section.background-grey {
    border-radius: unset;
    min-width: unset;
  }

  .results-section#accomodation {
    order: 2;
    background-color: unset;
  }

  .results-section#popular {
    order: 1;
  }

  .results-section#activities {
    order: 3;
  }

  #popular .articles-container {
    grid-template-rows: repeat(3, 200px);
  }

  #activities .articles-container {
    grid-template-columns: 1fr;
    grid-template-rows: unset;
  }
}
